<div class="statistics__container">
  <!-- stats -->
  <div class="informationSquare statistics">
    <h3>Statistiques</h3>
    <table>
      <tr>
        <td class="statistics__name">Attaque</td>
        <td class="statistics__number">{{ this.userStats.attaque }}</td>
      </tr>
      <tr>
        <td class="statistics__name">Défense</td>
        <td class="statistics__number">{{ this.userStats.defense }}</td>
      </tr>
      <tr>
        <td class="statistics__name">Taux Critique</td>
        <td class="statistics__number">{{ this.userStats.critRate }}</td>
      </tr>
      <tr>
        <td class="statistics__name">Dégats Critique</td>
        <td class="statistics__number">{{ this.userStats.critDamage }}</td>
      </tr>
      <tr>
        <td class="statistics__name">PV</td>
        <td class="statistics__number">{{ this.userStats.hP }}</td>
      </tr>
    </table>
  </div>
  <!-- items -->
  <div class="informationSquare items">
    <h3>Equipements</h3>
    <p class="items__count">{{ this.ItemService.currentItems.length }} / 6</p>
    <div class="items__images">
      <img
        *ngFor="let item of this.ItemService.currentItems"
        title="{{ item | item : this.ItemService.getItemTier(item.id) }}"
        srcset="assets/images/loot/{{item.name}}.png"
        alt="{{ item.name }}"
      />
    </div>
    <!-- each item should display its stats with a tooltip -->
    <button class="btnMain">Modifier</button>
  </div>
</div>

