<div class="statistics__container">
  <!-- stats -->
  <div class="informationSquare statistics">
    <h3>Statistiques</h3>
    <table>
      <tr>
        <td class="statistics__name">Attaque</td>
        <td class="statistics__number">100</td>
      </tr>
      <tr>
        <td class="statistics__name">Défense</td>
        <td class="statistics__number">100</td>
      </tr>
      <tr>
        <td class="statistics__name">Taux Critique</td>
        <td class="statistics__number">10</td>
      </tr>
      <tr>
        <td class="statistics__name">Dégats Critique</td>
        <td class="statistics__number">10</td>
      </tr>
      <tr>
        <td class="statistics__name">PV</td>
        <td class="statistics__number">1000</td>
      </tr>
    </table>
  </div>
  <!-- items -->
</div>
