<div class="informationSquare">
  <h3>Info donjon</h3>
  <div class="adventure__info">
    <p
      class="adventure__info__noDonjon"
      *ngIf="!AdventureService.currentAdventure; else adventureSelected"
    >
      Selectionnez un donjon
    </p>

    <ng-template #adventureSelected>
      <div
        *ngIf="AdventureService.currentAdventure"
        class="adventure__info__block"
      >
        <div class="adventure__info__block__txt">
          <p>
            Expériences : {{ AdventureService.currentXpRange.min }} à
            {{ AdventureService.currentXpRange.max }} points
          </p>
          <p>
            Argent : {{ AdventureService.currentGoldRange.min }} à
            {{ AdventureService.currentGoldRange.max }} $
          </p>
          <p>
            Temps : {{ this.AdventureService.currentCompletionTime }} Minutes(s)
          </p>
        </div>
        <div class="adventure__info__block__loot"></div>
        <button
          *ngIf="!AdventureService.adventureStarted"
          class="btnMain"
          (click)="this.AdventureService.startAdventure()"
        >
          Lancer l'expédition
        </button>
      </div>
    </ng-template>
  </div>
</div>
