@import "variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: $body-bg;
  color: $primary-color;
  font-family: Segoe UI, Regular, sans-serif;
}

.informationSquare {
  width: 100%;
  height: max-content;
  position: relative;
  padding: 2.5rem 2rem;
  border: 1px solid $transparent;
  border-radius: 8px;
  font-size: $font-regular;
  & h3 {
    font-weight: 400;
    padding-inline: 2px;
    position: absolute;
    top: -14px;
    left: 16px;
    background-color: $body-bg;
  }
}

.btnMain {
  width: max-content;
  padding: 0.3rem 1rem;
  background: none;
  color: $primary-color;
  font-size: $font-medium;
  border: 1px solid transparent;
  transition: border ease-in-out 0.3s;
  &:hover {
    border: 1px solid $primary-accent-color;
    border-radius: 2px;
  }
  &:active {
    transform: translateY(1px);
  }
}
