$body-bg: #020320;
$primary-color: #fff;
$primary-accent-color: #08a9c7;
$secondary-accent-color: #52b0ac;
$secondary-color: #dcc62e;
$tertiary-color: #c7c208;
$font-small: 10px;
$font-regular: 14px;
$font-big: 18px;
