$body-bg: #020320;
$primary-color: #fff;
$primary-accent-color: #08a9c7;
$secondary-accent-color: #52b0ac;
$secondary-color: #dcc62e;
$tertiary-color: #c7c208;

:export {
  body-bg: $body-bg;
  primarycolor: $primary-color;
  primaryaccentcolor: $primary-accent-color;
  secondaryaccentcolor: $secondary-accent-color;
  secondarycolor: $secondary-color;
  tertiarycolor: $tertiary-color;
}
