<div class="informationSquare adventure" *ngIf="UserService.currentUser">
  <h3>Aventure</h3>
  <div class="adventure__list">
    <p class="adventure__list__title">Niveau requis</p>
    <div
      (click)="
        selectAdventure(
          adventure,
          SettingService.computeLevel(UserService.currentUser.xp)
        )
      "
      [ngClass]="{
        'disabled': SettingService.computeLevel(UserService.currentUser.xp) < adventure.levelRequired,
        'selected': AdventureService.currentAdventure?.name === adventure.name,
      }"
      class="adventure__list__item"
      *ngFor="let adventure of AdventureService.adventures; let i = index"
    >
      <p class="adventure__list__item__name">{{ adventure.name }}</p>
      <p class="adventure__list__item__lvl">{{ adventure.levelRequired }}</p>
    </div>
  </div>
</div>
