<div class="informationSquare adventure">
  <h3>Aventure</h3>
  <div class="adventure__list">
    <p class="adventure__list__title">Niveau requis</p>
    <div
      [ngClass]="{
        'disabled': UserService.lvl < adventure.levelRequired,
      }"
      class="adventure__list__item"
      *ngFor="let adventure of AdventureService.adventures; let i = index"
    >
      <p class="adventure__list__item__name">{{ adventure.name }}</p>
      <p class="adventure__list__item__lvl">{{ adventure.levelRequired }}</p>
    </div>
  </div>
</div>
